
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.dark-mode {
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
}

:root {
    --dark-mode-bg: #1A1D24;
    --dark-mode-text: #fff;
    --hl-col: #0091AD;
    --hl-col-dark: #0091AD;
}

header {
    height: 80px;
    width: 100%;
    background-color: #fff;
}

.logo-span {
    color: var(--hl-col);
}

.dark-mode .logo-span {
    color: var(--hl-col-dark);
}

.dark-mode header {
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 80%;
    margin: auto;
}

header h1,
header h3 {
    margin: 0;
}

header h3 {
    font-size: 19px;
}

.logo-c {
    z-index: 5;
}

.logo-c a {
    color: #000;
    text-decoration: none;
}

.dark-mode .logo-c a {
    color: #fff;
}

.mobile-nav a {
    color: #000;
    text-decoration: none;
}

.mobile-nav h3 {
    font-size: 1.9em;
}

.mobile-nav a:hover {
    text-decoration: line-through;
}

.menu-handle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    margin-left: 10px;
    z-index: 5;
    cursor: pointer;
}

.handles {
    width: 30px;
    height: 3px;
    background-color: #000;
}

.dark-mode .handles {
    background-color: var(--dark-mode-text);
}

.our-menu-container {
    display: flex;
    align-items: center;
    position: relative;
    top: 5px;
}

.our-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 240px;
}

.our-menu li {
    list-style-type: none;
    margin: 0 !important;
}

.menu-text {
    position: absolute;
    right: 60px;
}


.our-menu a {
    text-decoration: none;
    color: #000000;
}

.dark-mode .our-menu a {
    color: #fff;
}

.our-menu a:hover {
    text-decoration: line-through;
}

.menu-handle:focus {
    border: none;
    outline: 0;
    box-shadow: none !important;
}

.mobile-nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: -100%;
    opacity: 0;
    right: 0;
    left: 0;
    z-index: 2;
    color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    transition: all 0.5s cubic-bezier(0.280, 0.840, 0.420, 1);
    background-color: #fff;
}

.slide-in {
    top: 0% !important;
    opacity: 0.85;

}

.dark-mode .mobile-nav {
    color: #fff;
    background-color: #1a1d24;
}

.dark-mode .mobile-nav a {
    color: #fff;
}

.dark-mode .mobile-nav li:hover {
    color: var(--hl-col-dark);
}


ul {
    margin: 0;
    padding: 0;
}

.mobile-nav li {
    list-style-type: none;
}

.mobile-nav li:hover {
    color: var(--hl-col);
}

@media only screen and (max-width: 600px) {
    .menu-text {
        display: none;
    }

    .our-menu {
        width: 0px;
        flex-direction: column;
        display: none !important;
    }

    .mobile-nav {
        display: flex;
    }
}

/* Hero section */
.hero {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.dark-mode .hero {
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
}

.hero-container {
    width: 80%;
}

.hero-container h1 {
    font-size: 30px;
    transform: scaleY(1) translateY(0);
    opacity: 1;
    transition: transform .5s ease-in-out, opacity .2s ease-in-out;
    transition-delay: .8s;
}

.hero-container a {
    font-weight: bold;
    font-size: 18px;
    font-style: oblique;
    text-decoration: none;
    color: var(--hl-col);
}

.dark-mode .hero-container a {
    color: var(--hl-col-dark);
}

.hero-container em,
.hero-container p {
    margin: 0;
}

.hls {
    color: var(--hl-col);
}

.dark-mode .hls {
    color: var(--hl-col-dark);
}

@media only screen and (max-width: 400px) {
    .hero-container h1 {
        font-size: 22px;
    }
    .hero-container em {
        font-size: 14px;
    }
    .hero-container a {
        font-size: 16px;
    }    
}


.modes {
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 10px;
    right: 10px;
}

.modes svg {
    height: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    cursor: pointer;
}

.dar {
    fill: var(--dark-mode-bg);
}

.lig {
    fill: #fff;
}

/* Projects */
.works {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.work-container {
    grid-gap: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    grid-template-rows: auto;
    justify-content: center;
}

.dark-mode .works {
    background-color: var(--dark-mode-bg);
}

.work {
    background-color: transparent;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work4 h2 {
    color: #000;
}

.work5 h2 {
    color: #000;
}

.dark-mode .work4 h2 {
    color: #fff;
}

.dark-mode .work5 h2 {
    color: #fff;
}

.work-image {
    height: 150px;
    position: absolute;

}

.work-image2 {
    height: 40px;
    position: absolute;
}


.work-image3 {
    position: absolute;
}

.work-image4,
.work-image5 {
    position: absolute;
}

.overlay {
    text-align: center;
    width: 80%;
}

.overlay a {
    padding: 8px;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 20px;
}

.overlay p {
    color: #000;
}

.dark-mode .overlay p {
    color: #fff;
}

.dark-mode .overlay a {
    border: 1px solid #fff;
    color: #fff;
}

.work1 .overlay,
.work1:hover .work-image {
    opacity: 0;
    transition: ease-in-out 350ms;

}

.work1:hover .overlay {
    opacity: 1;
    transition: ease-in-out 350ms;
    z-index: 5;
}

.work2 .overlay,
.work2:hover .work-image2 {
    opacity: 0;
    transition: ease-in-out 350ms;

}

.work2:hover .overlay {
    opacity: 1;
    transition: ease-in-out 350ms;
    z-index: 5;

}

.work3 .overlay,
.work3:hover .work-image3 {
    opacity: 0;
    transition: ease-in-out 350ms;

}

.work3:hover .overlay {
    opacity: 1;
    transition: ease-in-out 350ms;
    z-index: 5;

}

.work4 .overlay,
.work4:hover .work-image4 {
    opacity: 0;
    transition: ease-in-out 350ms;

}

.work4:hover .overlay {
    opacity: 1;
    transition: ease-in-out 350ms;
    z-index: 5;

}

.work5 .overlay,
.work5:hover .work-image5 {
    opacity: 0;
    transition: ease-in-out 350ms;

}

.work5:hover .overlay {
    opacity: 1;
    transition: ease-in-out 350ms;
    z-index: 5;

}

.work-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
}

.view-all {
    font-size: 20px;
}

.works em {
    color: var(--hl-col);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.work-header h2 {
    margin: 0;
}

/* Redirect */
.redir {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.redir-about {
    width: 50%;
    border-right: 1px solid #000;
}

.dark-mode .redir-about {
    border-right: 1px solid #fff;
}

.redir-contact {
    width: 50%;
}

.redir-about,
.redir-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    flex-direction: column;
    text-align: center;
}

.redir a {
    border: 1px solid #000;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.dark-mode .redir a {
    border: 1px solid #fff;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .redir {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .redir-about {
        border-bottom: 1px solid #000;
        border-right: 0px !important;
        padding-bottom: 20px;
    }

    .dark-mode .redir-about {
        border-bottom: 1px solid #fff;
    }

    .redir-about,
    .redir-contact {
        width: 80%;
    }
}

/* needs */
.needs {
    height: 370px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.needs em {
    letter-spacing: 1.3px;
    font-style: normal;
    text-transform: uppercase;
    color: var(--hl-col);
}

.needs h2 {
    font-size: 3em;
    margin: 0;
    transition: 200ms ease-in-out;
}

.needs h2:hover {
    text-decoration: line-through;
}

.dark-mode .needs h2 {
    color: #fff;
}



.needs svg {
    height: 40px;
    width: auto;
    margin-left: 5px;
}

.needs path {
    fill: #000;
}

.dark-mode .needs path {
    fill: #fff;
}

.needs div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
}

.needs div:hover {
    justify-content: space-around;
}


.needs a {
    text-decoration: none;
    color: #000;
}

@media only screen and (max-width: 480px) {
    .needs svg {
        height: 30px;
    }

    .needs div {
        flex-direction: column;
    }

    .needs h2 {
        font-size: 1.5em !important;
    }
}

@media only screen and (max-width: 600px) {
    .needs {
        height: 200px;
    }

    .needs h2 {
        font-size: 2em;
    }

    .needs div {
        width: auto;
    }

}


/* footer */
.footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #E6E6E6;
}

.dark-mode .footer {
    background-color: #171A22;
}

.footnav {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 10px;
}

.footnav h2 {
    color: var(--hl-col);
}

.footnav li {
    list-style-type: none;
}

.footnav li:hover {
    text-decoration: line-through;
}

.footnav a {
    text-decoration: none;
    color: #000;
}

.dark-mode .footnav a {
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .footnav {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        width: 80%;
        margin: 20px auto;
    }
}

/* about */
.about-c {
    width: 65%;
    height: auto;
    margin: auto;
}

.about-container {
    text-align: center;
}

.about-container span,
.about-c h2 {
    color: var(--hl-col);
}

.about-container p {
    font-size: 20px;
    font-weight: bold;
}

.about {
    height: 110vh;
    display: flex;
    align-items: center;
}

.about li {
    list-style-type: none;
}

.about em {
    color: #333;
}

.dark-mode .about em {
    color: #eee;
}

.service {
    text-align: center;
}

.service svg {
    height: 60px;
    width: auto;
}

.service path {
    fill: #000;
}

.dark-mode .service path {
    fill: #fff;
}

@media only screen and (max-width: 600px) {
    .about-c {
        width: 85%;
    }
}

@media only screen and (max-width: 730px) {
    .about {
        height: auto;
        margin: 20px 0;
    }
}


/* Contact */
.contact {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}

.contact-container {
    width: 70%;
    margin: 50px auto;
}

.contact-container h3 {
    margin: 0;
    color: #0091AD;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

form input {
    margin: 0;
    padding: 10px;
    border: 1px solid var(--hl-col);
    background-color: transparent;
    margin-bottom: 20px;
    color: #000;
    font-family: 'Poppins', sans-serif;

}

.dark-mode form input {
    color: #fff;
}

form input::placeholder {
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.dark-mode form input::placeholder {
    color: #fff;
}

form textarea {
    margin: 0;
    padding: 10px;
    height: 150px;
    border: 1px solid var(--hl-col);
    background-color: transparent;
    color: #000;
    font-family: 'Poppins', sans-serif;

}

.dark-mode form textarea {
    color: #fff;
}

form textarea::placeholder {
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.dark-mode form textarea::placeholder {
    color: #fff;
}

.submit {
    font-family: 'Poppins', sans-serif;
    width: 100px;
    border-radius: 9px;
    background-color: var(--hl-col);
    margin-top: 20px;
    color: #000;
}

.submit:hover {
    background-color: transparent;
}

.dark-mode .submit {
    color: #fff;
}

form div {
    display: flex;
    justify-content: space-between;
}

form div input {
    width: 50%;
}

.name {
    margin-right: 20px;
}


@media only screen and (max-width: 600px) {
    .contact-container {
        width: 80%;
    }
}

/* success */
.success {
    height: 300px;
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success h3 {
    color: #0091AD;
}

.success a {
    border-radius: 9px;
    background-color: var(--hl-col);
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.success a:hover {
    border: 1px solid var(--hl-col);
    background-color: transparent;
    color: #1A1D24;
}

.dark-mode .success a:hover {
    color: #fff;
}

.dark-mode .success a {
    color: #000;
}

/* Blog */
.blog {
    height: 100vh;
    width: 100%;
    background-color: #E6E6E6;
}

.dark-mode .blog{
    background-color: #171a22;
}

.blog-cap {
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    font-size: 30px;
}

.dark-mode .blog-cap{
    background-color: var(--dark-mode-bg);
}

.blog-container{
    color: #000;
    width: 90%;
    margin: auto;
}

.dark-mode .blog-container{
    color: #fff;
}

.blog-container a{
    color: #0091AD;
}

.blog-container a:hover{
    text-decoration: line-through;
}

.blog-p{
    width: 70%;
    margin: auto;
    height: 60vh;
}