@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.dark-mode{
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
}

:root{
    --dark-mode-bg: #1A1D24;
    --dark-mode-text: #fff;
    --hl-col: #0091AD;
    --hl-col-dark: #FCFC62;
}

header{
    height: 80px;
    width: 100%;
    background-color: #fff;
}

.logo-span{
    color: var(--hl-col);
}

.dark-mode .logo-span{
    color: var(--hl-col-dark);
}

.dark-mode header{
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 80%;
    margin: auto;
}   

header h1, header h3{
    margin: 0;
}

header h3{
    font-size: 19px;
}



.menu-handle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    margin-left: 10px;
}

.handles{
    width: 30px;
    height: 3px;
    background-color: #000;
}

.dark-mode .handles{
    background-color: var(--dark-mode-text);
}

.our-menu-container{
    display: flex;
    align-items: center;
    position: relative;
    top: 5px;
}

.our-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 240px;
}

.our-menu li{
    list-style-type: none;
    margin: 0 !important;
}

.menu-text{
    position: absolute;
    right: 60px;
}

.tooltip{
    z-index: -1;
}

.menu-handle:focus{
    border: none;
    outline: 0;
    box-shadow: none !important;
}

/* Hero section */
.hero{
    height: 655px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all .5s ease-in-out;
    background-image: linear-gradient(to bottom right,#ff8e65,#ffecac); */
}

.dark-mode .hero{
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
}

.hero-container{
    width: 80%;
}

.hero-container h1{
    font-size: 30px;
    transform: scaleY(1) translateY(0);
    opacity: 1;
    transition: transform .5s ease-in-out,opacity .2s ease-in-out;
    transition-delay: .8s;
}

.hero-container a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: var(--hl-col);
}

.dark-mode .hero-container a{
    color: var(--hl-col-dark);
}

.hero-container em, .hero-container p{
    margin: 0;
}

.hls{
    color: var(--hl-col);
}

.dark-mode .hls{
    color: var(--hl-col-dark);
}

.sunrise, .sunset{
    height: 50px;
}

.sunrise{
    transform: rotate(-180deg);
}

.sunset{
    transform: rotate(0deg);
}

.modes{
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 20px;
    right: 20px;
}
#Capa_1{
    fill: var(--hl-col);
    width: auto;
}

.dark-mode #Capa_1{
    fill: var(--hl-col);
}

#Capa_2{
    fill: var(--hl-col-dark);
    width: auto;
}

.dark-mode #Capa_2{
    fill: var(--hl-col-dark);
}